<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @practionner.first_name %> et bienvenue chez Bipolink !</h1>
    <p>
      Vous vous êtes inscrit(e) sur finalprojectthp.herokuapp.com en utilisant l'e-mail suivant : <%= @practionner.email %>.
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur finalprojectthp.herokuapp.com !
  </body>
</html>