<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="practionner_welcome_email.css">
  </head>
  <body>
    <img src="https://i.ibb.co/PmfTM9j/Moodlinkv3.png" class="logo-size">
    <br>
    <h1>Bonjour Dr <%= @user.last_name %> et bienvenue sur Bipolink !</h1>
    <p>
      L'application Bipolink est un outil vous permettant d'améliorer le diagnostique et le suivi de la bipolarité de vos patients.
    </p>
    <p>
      Pour accéder à votre dashboard, connectez-vous via : <%= @url %> avec votre adresse e-mail : <%= @user.email %>..
    </p>
    <p> À très vite sur finalprojectthp-staging.herokuapp.com !
    </body>
  </html>
