<!DOCTYPE html>
<html>

<head>


</head>

<body>


<section class="page-section bg-light">
    <div class="container">
        <div class="col-lg-12">
        	<div class="row">
          <div class="col-md-6 text-center">
          <img class="mx-auto rounded-circle" src="https://i.goopics.net/nyPvX.png" alt=""><br><br>
          <h3 class="section-subheading">Prénom Nom</h3>
          <p class="text-muted">Spécialité, ville</p>
          </div>
           <div class="col-md-6">
           <h3 class="section-subheading">Informations</h3>
           <p>sexe</p>

           </div>




        </div>
      </div>
    </div>


</body>
</html>