<h1>
	MON PROFIL
</h1>

<% @id_user = current_patient.id %>
<%= link_to "Dashbord", patient_path(@id_user) %>

<br>
<br>
<%= current_patient.first_name %>

<br>
<br>
<%= current_patient.last_name %>

<br>
<br>

<%= link_to "Editer mon profil", edit_patient_path(@id_user) %>