<h1>PAGE DASHBOARD</h1>

<% if current_patient === Patient.find(params[:id]) %>
	<%= link_to "MON PROFIL", patients_path %>
<% else %>
	<h4>view d'un practionner</h4>
<% end %>

<br>
<br>
<br>

<h4>
	Patient mood
</h4>
<%= line_chart @patient_day.group_by_day(:created_at).sum(:mood) %>

<br> 
<h4>
	Patient hours of sleep
</h4>
<%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep) %>
