<h1>PAGE DASHBOARD</h1>

<%= link_to "MON PROFIL", patients_path %>
<br>
<%= link_to "MES SOIGNANTS/MES RDVs", doctor_appointment_list_path %>

<br>
<br>
<br>
<br>

<h4>
	Patient mood
</h4>
<%= line_chart @patient_day.group_by_day(:created_at).sum(:mood) %>

<br> 
<h4>
	Patient hours of sleep
</h4>
<%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep) %>
