<h1>PAGE DASHBOARD</h1>

<%= link_to "MON PROFIL", patients_path %>

<br>

<%= link_to "MES SOIGNANTS/MES RDVs", doctor_appointment_list_path %>

<br>
<br>
<br>

<% @patient_day.each do |data_per_day| %>
	<%= data_per_day.mood %>
<% end %>
