/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ################################################ CSS de la typo ################################################ */

h1 {
  color: #696969;
  font-family: roboto;
}

h2 {
  color: #696969;
  font-family: roboto;
}

h3 {
  color: #696969;
  font-family: montserrat;
}

h4 {
  color: #696969;
  font-family: montserrat;
}

p {
  color: #696969;
  font-family: montserrat;
}


#mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: transparent;
}

.page-section {
    padding: 100px 0;
    margin-bottom: 50px;
}

.text-center {
    text-align: center!important;
}

box-sizing: border-box;
}

.patient-practician {
    text-align: center;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

header.masthead {
    text-align: center;
    color: #fff;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#bipolink {
    text-align: center;
    background-color: #29ace2;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: cover;
} 