/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {

  font-family: roboto;
}

h2 {

  font-family: roboto;
}

h3 {

  font-family: montserrat;
}

h4 {

  font-family: montserrat;
}

p {

  font-family: montserrat;
}


#mainNav {

    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: #29ace2;
}

#bipolink {
    text-align: center;
    color: #FFFFFF;
    padding: 50px 0;
    background-color: #29ace2;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


#editprofile {
    color: #696969;
    padding: 100px 0;
    font-family: montserrat;
}


.page-section {
    padding: 100px 0;
    margin-bottom: 50px;
    color: #696969;

}

.text-center {
    text-align: center!important;
}




.card .card-body .content {
  padding-left: 80px;
}

.card-title {
  color: #29ace2; 
  font-size: 16px;
}

.card .card-body {
  font-size: 14px;
}


.card-subtitle {
  font-size: 14px;
}

.card-link  {
  border-radius: 4px !important;
  color: #FFFFFF !important;
  display: inline-block !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  background-color: #29ace2 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  width: 100px !important;
  font-size: 12px !important;
  line-height: 16px !important;
}

#navbar-main {
  background-color: #FAFAFA;
  width: 100%;
}

.avatar-sm {
  width: 36px;
  height: 36px;
  font-size: .875rem;
}

.avatar-md {
  width: 65px;
  height: 65px;
  font-size: .875rem;
}

