
.card .card-body .content {
    padding-left: 80px;
  }
  
  .card-title {
    color: #29ace2; 
    font-size: 16px;
  }
  
  .card .card-body {
    font-size: 14px;
  }
  
  
  .card-subtitle {
    font-size: 14px;
  }
  
  .card-link  {
    border-radius: 4px !important;
    color: #FFFFFF !important;
    display: inline-block !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    text-align: center !important;
    background-color: #29ace2 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    width: 100px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  
  .avatar-md {
    width: 65px;
    height: 65px;
    font-size: .875rem;
  }