// Place all the styles related to the PatientList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

}

.card-link  {
  border-radius: 4px !important;
  color: #FFFFFF !important;
  display: inline-block !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  background-color: #29ACE2 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  width: 130px !important;
  font-size: 12px !important;
  line-height: 16px !important;
}

hr.accent {
    border-color:
    #fcf113;
    opacity: 1;
}

hr {
    max-width: 150px;
    border-width: 5px;
    opacity: 0.08;
    margin-top: 15px;
    margin-bottom: 25px;
}
