header {
  background: linear-gradient(to bottom, rgba(17,73,145,1) 17%, rgba(41,163,226,1) 100%);
  padding: 40px;
}

body {
  background-color: #FAFAFA;
  width="100%" 
  style="margin: 0; 
  padding: 0 !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
}

h1 {
  
  font-family: roboto;
}

h2 {
  color: rgba(17,73,145,1);
  font-family: roboto;
}

h3 {
  font-family: montserrat;
}

h4 {
  font-family: montserrat;
}

p {
  font-family: montserrat;
  color: #696969;
}

.email-container {
  max-width: 600px; 
  margin: 0 auto;

}