<h1>MES SOIGNANTS/MES RDVs</h1>

<%= link_to "Revenir à PAGE DASHBOARD", patient_path(params[:id]) %>

<br>
<br>
<br>
<br>
<% @patient_practionners.each do |practionner| %>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">	<%= practionner.first_name %></h5>
    <p class="card-text">Spécialité : Psychiatre</p>
    <a href="#" class="btn btn-primary">Voir plus</a>
  </div>
</div>
<% end %>

<br>
<br>

<% @patient_appointments.each do |appointment| %>
	<%= appointment.date %>
<% end %>